<div class="topics">
  <ul class="topics--list-view">
    <li ng-repeat="topic in topics" topic>
      <div class="topic__body" ng-include="'app/home/topic.html'"></div>

      <img class="photo" ng-if="topic.photo || topic.video" ng-src="{{topic.photo || topic.video}}"/>

       <div ng-show="topic.showResponses">

        <div class="topic__body topic__body--response"
          ng-repeat="response in topic.responses">
          <response response="response"></response>
        </div>

        <div class="topic__response">
          <input type="text" name="response" id="response" placeholder="Reply..." />
        </div>
      </div>
    </li>
  </ul>
</div>
