<!--

{{topic.subscribed}}
{{topic.publictags}}
{{topic.privatetags}}
{{topic.responses}}
-->

<div class="topic__social">
  <a href="#"><span class="icon-eye" ng-class="{'topic--subscribed':!!topic.subscribed}"></span></a>
  <a href="#"><span class="icon-respond"></span> {{topic.responseCount}}</a>
</div>

<h6>{{topic.topictitle}}</h6>
<span ng-bind-html="topic.body"></span>

<div class="topic__expand" ng-if="topic.responses" ng-click="toggleReplies()">
  <a href="#" ng-show="!topic.showResponses">Expand <span class="arrow-down"></span></a>
  <a href="#" ng-show="topic.showResponses">Collapse <span class="arrow-up"></span></a>
</div>
